<template>
  <v-card>
    <v-card-title>
      <router-link :to="{ name: 'PostDetail', params: { id: post.id } }" v-slot="{ navigate }" custom>
        <span @click="navigate" class="pointer">{{ post.title }}</span>
      </router-link>
      <v-spacer />
      <router-link :to="{ name: 'UserDetail', params: { id: post.author.id } }" v-slot="{ navigate }" custom>
        <span @click="navigate" class="pointer">By {{ post.author.login }}</span>
      </router-link>
    </v-card-title>
    <v-card-subtitle> {{ DateAsString(post.fecha) }} </v-card-subtitle>

    <v-card-text v-if="post.tags.length > 0">
      Tags: <span class="tags">{{ tagsAsString(post.tags) }}</span>
    </v-card-text>
  </v-card>
</template>

<script>
import moment from "moment";
//import UserDetail from "@/entities/user/UserDetail";

export default {
  name: "PostCard",
  props: {
    post: {
      type: Object,
      required: true,
    },
  },

  methods: {
    DateAsString(date) {
      return moment(date).format("DD/MM/YYYY, hh:mm a");
    },

    tagsAsString(tags) {
      return tags.map((t) => t.name).join(", ");
    },
  },
};
</script>

<style scoped>
.tags {
  font-style: italic;
}
</style>
