<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <h1>Blog Posts whit {{ tag.name }}</h1>
        <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
      </v-col>
      <v-col cols="12" sm="6" lg="3" v-for="post in posts" :key="post.id">
        <PostCard :post="post"></PostCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PostCard from "./PostCard.vue";
import PostRepository from "@/repositories/PostRepository";
import TagRepository from "@/repositories/TagRepository";

export default {
  data() {
    return {
      tag: null,
      posts: [],
    };
  },
  components: { PostCard },
  async mounted() {
    this.tag = await TagRepository.findOne(this.$route.params.id);
    this.posts = await PostRepository.findAllByTag(this.tag.id);
  },
};
</script>
