<template>
  <v-container>
    <v-row>
      <v-col cols="12" class="text-center">
        <h1>Users profile list</h1>
        <div class="caption">Data fetched <span class="font-weight-bold">after</span> navigation</div>
      </v-col>
      <v-col cols="12" sm="6" lg="3" v-for="post in posts" :key="post.id">
        <UserCard :user="user"></UserCard>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UserCard from "./UserCard.vue";
import UserRepository from "@/repositories/UserRepository";
import PostRepository from "@/repositories/PostRepository";

export default {
  data() {
    return {
      users: [],
      posts: [],
    };
  },
  components: { UserCard },
  async mounted() {
    this.users = await UserRepository.findAll();
    this.posts = await PostRepository.findAll();
  },
};
</script>
