<template>
  <v-container>
    <v-row>
      <v-col cols="12" v-if="loading" class="loading">Loading...</v-col>
      <v-col cols="8" offset="2" v-if="user">
        <v-card>
          <v-card-title>
            <span>
              <strong> {{ user.login }} </strong>
            </span>
            <v-spacer />
            <span> Numero de post: {{ posts.length }} </span>
          </v-card-title>
          <v-col cols="12" sm="6" lg="3" v-for="post in posts.slice().reverse()" :key="post.id">
            <PostCard :post="post"></PostCard>
          </v-col>
          <v-card-actions>
            <v-spacer />
            <v-btn @click="back()"> Back </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import UserRepository from "@/repositories/UserRepository";
import PostCard from "@/entities/post/PostCard.vue";

export default {
  data() {
    return {
      loading: false,
      user: null,
      posts: [],
    };
  },
  components: {
    PostCard,
  },
  async mounted() {
    this.loading = true;
    try {
      this.user = await UserRepository.findOne(this.$route.params.id);
      this.posts = await UserRepository.findAllPosts(this.$route.params.id);
    } catch (e) {
      this.$notify({
        text: e.response.data.message,
        type: "error",
      });
      setTimeout(() => this.back(), 2000);
    } finally {
      this.loading = false;
    }
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>

<style scoped>
.users {
  padding: 30px 50px;
  color: rgba(0, 0, 0, 0.87);
  font-size: larger;
}

.error {
  margin-top: 40px;
}
</style>
