<template>
  <v-card>
    <v-card-title>
      <span>by {{ user.login }}</span>
    </v-card-title>

    <v-card-text v-if="post.length > 0">
      Posts: <span class="posts">{{ user.post }}</span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "UserCard",
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
};
</script>
