<template>
  <v-container class="text-center">
    <v-form ref="form" @submit.prevent="save">
      <v-card>
        <v-card-title>
          <v-text-field v-model="user.login" label="Name" :rules="requiredField"></v-text-field>
          <v-text-field v-model="user.password" label="Password" :rules="requiredField"></v-text-field>
        </v-card-title>

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" type="submit">Submit</v-btn>
          <v-btn @click="back()">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
import UserRepository from "@/repositories/UserRepository";

export default {
  data() {
    return {
      user: {},
      requiredField: [(v) => !!v || "Field is required"],
    };
  },

  async created() {
    if (this.$route.params.id) {
      this.user = await UserRepository.findOne(this.$route.params.id);
    } else {
      this.user = {};
    }
  },

  methods: {
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      try {
        const savedUser = await UserRepository.save(this.user);
        this.$router.replace({
          name: "UserDetail",
          params: { id: savedUser.id },
        });
      } catch (err) {
        this.$notify({
          text: err.response.data.message,
          type: "error",
        });
      }
    },

    back() {
      this.$router.go(-1);
    },
  },
};
</script>
