<template>
  <v-card>
    <v-card-title>
      <router-link :to="{ name: 'PostListTag', params: { id: tag.id } }" v-slot="{ navigate }" custom>
        <span @click="navigate" class="pointer">{{ tag.name }}</span>
      </router-link>
    </v-card-title>
  </v-card>
</template>

<script>
export default {
  name: "TagCard",
  props: {
    tag: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>
.tags {
  font-style: italic;
}
</style>
