<template>
  <v-container class="text-center">
    <v-form ref="form" @submit.prevent="save">
      <v-card>
        <v-card-title>
          <!--<v-text-field v-model="tag.name" label="Name" :rules="requiredField"></v-text-field-->
          <v-select v-model="tag.name" :items="tags" item-text="name" label="Tags"></v-select>
        </v-card-title>

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" type="submit">Submit</v-btn>
          <v-btn color="warning" @click="remove()" v-if="tag.id">Remove</v-btn>
          <v-btn @click="back()">Back</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      tags: {},
      requiredField: [(v) => !!v || "Field is required"],
    };
  },

  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>
